{
    debug
    cache {
        badger {
                configuration {
                        Dir souin_dir
                        ValueDir "/tmp/test"
                }
        }
    }
}

:4443 {
    cache
    respond "hello world"
}
