{
    debug
    log {
        level debug
    }
    cache {
        simplefs {
            configuration {
                size 10
                path storage
            }
        }
        ttl 10s
        default_cache_control public
    }
}

:4443
respond "Hello World!"

route /simplefs-configuration {
    cache
    respond "Hello simplefs"
}
