{
    experimental_http3
    order souin before rewrite
    souin {
        distributed true
        headers Content-Type Authorization
        olric {
            url `olric:3320`
        }
        ttl 1000
    }
}

:80

route /testing-purpose {
    souin {
        headers Content-Type
        ttl 100
    }
}
route /testing-purpose-2 {
    souin {
        headers Content-Type
        ttl 200
    }
    respond "Hello, s-maxage!"
}
route `/[A-z]-try*` {
    souin {
        headers Authorization
        ttl 666
    }
}
