name: Build and validate Souin as plugins

on:
  push:
    branches:
      - master

jobs:
  build-caddy-validator:
    name: Check that Souin build as caddy module and can be tagged on master
    runs-on: ubuntu-latest
    steps:
      -
        name: Add domain.com host to /etc/hosts
        run: |
          sudo echo "127.0.0.1 domain.com" | sudo tee -a /etc/hosts
      -
        name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      -
        name: Checkout code
        uses: actions/checkout@v2
      -
        name: Install xcaddy
        run: go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
      -
        name: Build current Souin as caddy module with referenced Souin core version when merge on master
        run: cd plugins/caddy && xcaddy build --with github.com/${{ github.repository }}/plugins/caddy@$(git rev-parse --short "$GITHUB_SHA")
